.tenants-table,
.buildings-table,
.apartmants-table {
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
}

.tenants-table table,
.buildings-table table,
.apartmants-table table,
tr,
td,
th {
  text-align: center;
  border: 1px solid var(--color4);
  padding: 10px;
}

@media screen and (max-width: 650px) {
  .apartmants-table table,
  .apartmants-table table tr,
  .apartmants-table table td,
  .apartmants-table table th {
    overflow: auto;
    padding: 0;
    font-size: small;
  }
}

@media screen and (max-width: 400px) {
  .apartmants-table table,
  .apartmants-table table tr,
  .apartmants-table table td,
  .apartmants-table table th {
    font-size: x-small;
  }
}

@media screen and (max-width: 400px) {
  .apartmants-table table,
  .apartmants-table table tr,
  .apartmants-table table td,
  .apartmants-table table th {
    font-size: xx-small;
  }
}
